torch==2.1.0
torchvision==0.16.0
numpy>=1.23.5
scikit-learn>=1.0.2
Cython>=0.29.28 
transformers>=4.24.0
opencv-python>=4.2.0.32
matplotlib
tqdm
streamdiffusion
# streamdiffusion[tensorrt] # if you have cuda
